/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.vue3-easy-data-table {
  border-radius: 0.5rem;
  outline: 1px solid #e2e2e2;
  border: none !important;
}
.vue3-easy-data-table__header > tr {
  border: 2px solid #ff0000 !important;
  box-sizing: content-box;
}
.vue3-easy-data-table__header th {
  background-color: transparent !important;
  padding: 1rem 0.8rem !important;
}

.vue3-easy-data-table__footer {
  padding: 1.6rem !important;
}

.required:after {
  content: '*';
  color: red;
  margin-left: 0.5rem;
}